*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
}

main {
    margin: 0 auto;
    min-height: calc(100vh - 150px);
    text-align: center;
    width: 1400px;

    h1, h2, h3, p {
        margin: 20px 0;
    }

    h3 {
        text-transform: uppercase;
    }
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;

    div {
        flex-basis: 50%;

        label {
            display: block;
            margin: 0 20px;
        }
    }

    button {
        background-color: #1b1b1b;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        font-size: 1em;
        margin: 20px;
        padding: 10px 20px;
        width: 200px;
    }
}

#avatar-selection {
    align-items: center;
    display: flex;
    justify-content: center;

    img {
        height: 150px;
        width: 150px;
    }

    span {
        background-color: red;
        border: 1px solid #1b1b1b;
        cursor: pointer;
        display: inline-block;
        height: 20px;
        width: 20px;

        &#previous {
            background-color: #fff;
        }

        &#next {
            background-color: blue;
        }
    }

    input {
        &#avatar-id {
            display: none;
            text-align: center;
            width: 100px;
        }
    }
}

.btn {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background-color: #1e2a61;
    border-radius: 10px;
}

.separation {
    font-weight: bold;
    position: relative;

    &::before,
    &::after {
        background-color: #1b1b1b;
        content: '';
        height: 3px;
        position: absolute;
        width: 200px;
    }

    &::before {
        left: 0;
        top: 50%;
        transform: translate(-220px, -50%);
    }

    &::after {
        right: 0;
        top: 50%;
        transform: translate(220px, -50%);
    }
}

@import 'header/header';
@import 'footer/footer';
@import 'game/game';
@import 'gameTab/gameTab';
@import 'gameForm/gameForm';