table
  thead
    tr
      th Nom de la partie
      th Cr&eacute;ateur
      th Nb de joueurs
      th Temps par tour
      th Acc&egrave;s &agrave; la partie
  tbody
    tr
      td Partie01
      td Joueur26
      td 0/2
      td 15s
      td.join-link.game-open
        a(href='') Rejoindre
    tr
      td Partie01
      td Joueur26
      td 0/2
      td 15s
      td.join-link.game-close
        a(href='') Rejoindre