doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Memory Game
  link(rel='stylesheet', href='/css/styles.css')
include includes/header.pug
#partie
  h2 Nom de la partie
  #score
    p#player1 Player1
    p#score
      span#score-player1 2
      |  | 
      span#score-player2 4
    p#player2 Player2
  #grid
    .card(data-id='')
      .sides
        .front
          img(src='img/cards/front/classic/01.svg', alt='')
        .back
          img(src='img/cards/back/blue.svg', alt='')
    .card(data-id='')
      .sides
        .front
          img(src='img/cards/front/classic/02.svg', alt='')
        .back
          img(src='img/cards/back/blue.svg', alt='')
    .card(data-id='')
      .sides
        .front
          img(src='img/cards/front/classic/03.svg', alt='')
        .back
          img(src='img/cards/back/blue.svg', alt='')
    .card(data-id='')
      .sides
        .front
          img(src='img/cards/front/classic/04.svg', alt='')
        .back
          img(src='img/cards/back/blue.svg', alt='')
    .card(data-id='')
      .sides
        .front
          img(src='img/cards/front/classic/05.svg', alt='')
        .back
          img(src='img/cards/back/blue.svg', alt='')
    .card(data-id='')
      .sides
        .front
          img(src='img/cards/front/classic/06.svg', alt='')
        .back
          img(src='img/cards/back/blue.svg', alt='')
    .card(data-id='')
      .sides
        .front
          img(src='img/cards/front/classic/07.svg', alt='')
        .back
          img(src='img/cards/back/blue.svg', alt='')
    .card(data-id='')
      .sides
        .front
          img(src='img/cards/front/classic/08.svg', alt='')
        .back
          img(src='img/cards/back/blue.svg', alt='')
    .card(data-id='')
      .sides
        .front
          img(src='img/cards/front/classic/09.svg', alt='')
        .back
          img(src='img/cards/back/blue.svg', alt='')
    .card(data-id='')
      .sides
        .front
          img(src='img/cards/front/classic/01.svg', alt='')
        .back
          img(src='img/cards/back/blue.svg', alt='')
    .card(data-id='')
      .sides
        .front
          img(src='img/cards/front/classic/02.svg', alt='')
        .back
          img(src='img/cards/back/blue.svg', alt='')
    .card(data-id='')
      .sides
        .front
          img(src='img/cards/front/classic/03.svg', alt='')
        .back
          img(src='img/cards/back/blue.svg', alt='')
    .card(data-id='')
      .sides
        .front
          img(src='img/cards/front/classic/04.svg', alt='')
        .back
          img(src='img/cards/back/blue.svg', alt='')
    .card(data-id='')
      .sides
        .front
          img(src='img/cards/front/classic/05.svg', alt='')
        .back
          img(src='img/cards/back/blue.svg', alt='')
    .card(data-id='')
      .sides
        .front
          img(src='img/cards/front/classic/06.svg', alt='')
        .back
          img(src='img/cards/back/blue.svg', alt='')
    .card(data-id='')
      .sides
        .front
          img(src='img/cards/front/classic/07.svg', alt='')
        .back
          img(src='img/cards/back/blue.svg', alt='')
    .card(data-id='')
      .sides
        .front
          img(src='img/cards/front/classic/08.svg', alt='')
        .back
          img(src='img/cards/back/blue.svg', alt='')
    .card(data-id='')
      .sides
        .front
          img(src='img/cards/front/classic/09.svg', alt='')
        .back
          img(src='img/cards/back/blue.svg', alt='')

include includes/footer.pug
script(src='js/index.js')
script(src='js/gameAnim.js')
script(src='js/socket.io.js')