doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Memory Game
  link(rel='stylesheet', href='/css/styles.css')
include includes/header.pug
main
  h2 Bienvenue #{nickname}
  h3 Créer une nouvelle partie
  form#gameForm(action='' method="post")
    label(for='gameName') Nom de la partie
    input(type='text', name='', value='')
    p Nombre de cartes
    div
      label(for='') 18
        input(type='radio', name='nbCards', value='', checked)
    p Temps par tour
    div
      label(for='') 10
        input(type='radio', name='timer', value='')
      label(for='') 15
        input(type='radio', name='timer', value='', checked)
      label(for='') 20
        input(type='radio', name='timer', value='')
    p Style des cartes (face avant)
    div
      label(for='') Classique
        input(type='radio', name='frontCard', value='', checked)
    p Style des cartes (face arri&egrave;re)
    div
      label(for='') Bleu
        input(type='radio', name='backCard', value='', checked)
      label(for='') rouge
        input(type='radio', name='backCard', value='')
    button(type='submit') Cr&eacute;er la partie
  p
    span.separation ou
  h3 Rejoidre une partie existante
  include includes/gameTab.pug
  - var user = {isAnonymous: true, nickname: '', avatar: ''}
include includes/footer.pug
script(src="../socket.io/socket.io.js") 
script(src='js/index.js') 
script(src='js/socket.io.js')